<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985284458114-kfac3pofv6v3udc7u153c6a3ld7lg73f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985284458114-kfac3pofv6v3udc7u153c6a3ld7lg73f</string>
	<key>API_KEY</key>
	<string>AIzaSyD694sp8SYl7s7dysQDtQ8EI0o9adaHaHw</string>
	<key>GCM_SENDER_ID</key>
	<string>985284458114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.GNU.BookSharer</string>
	<key>PROJECT_ID</key>
	<string>booknanumi</string>
	<key>STORAGE_BUCKET</key>
	<string>booknanumi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985284458114:ios:db6033264fc4cff93a669b</string>
</dict>
</plist>